@charset "UTF-8";
/* phone */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@media (max-width: 470px) {
  .miestilo {
    background-color: rgb(205, 255, 205);
  }
  body {
    background-color: rgb(178, 255, 185); /* Agregamos un fondo de cuerpo para dispositivos pequeños */
  }
}
/* Estilos para tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .element {
    width: 100%;
    background-color: rgb(180, 255, 146);
  }
}
/*  pantallas más grandes */
@media (min-width: 1025px) {
  body {
    background-color: #dcffd0;
  }
  /* Estilos para columnas en pantallas grandes */
  [class*=col-] {
    width: auto;
    justify-content: flex-start;
  }
}
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.responsive-image {
  display: flex;
  max-width: auto;
  height: auto;
}
@media (max-width: 470px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 471px) and (max-width: 1024px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1025px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}

.image-slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.image-slider .slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  overflow: hidden;
}
.image-slider .slide img {
  width: 33%;
  height: auto;
}

/* Estilos base para la imagen */
.img-responsive {
  max-width: 100%;
  height: auto;
}

/* Media query para dispositivos pequeños (por ejemplo, smartphones) */
@media (max-width: 768px) {
  .img-responsive {
    /* Ajusta el tamaño de la imagen para dispositivos pequeños */
    max-width: 100%;
    height: auto;
  }
}
/* Media query para dispositivos medianos (por ejemplo, tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  .img-responsive {
    /* Ajusta el tamaño de la imagen para dispositivos medianos */
    max-width: 100%;
    height: auto;
  }
}
/* Media query para dispositivos grandes (por ejemplo, pantallas de escritorio) */
@media (min-width: 993px) {
  .img-responsive {
    /* Ajusta el tamaño de la imagen para dispositivos grandes */
    max-width: 100%;
    height: auto;
  }
}
.navbar {
  background-color: #a2ff9f;
  font-family: "Aboreto";
}
.navbar .navbar-nav .nav-link {
  color: #000000;
}
.navbar .navbar-nav .nav-link.active {
  color: #070202;
}

.expanded-content {
  display: none;
  padding: 20px;
  background-color: #f0f0f0;
}

.expanded-content {
  display: none; /* Oculta el contenido expandido por defecto */
}

.expanded {
  display: block; /* Muestra el contenido cuando la clase 'expanded' está presente */
}

.carousel-item img {
  max-width: auto;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 2rem 2rem;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 auto; /* Tamaño automático */
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Aplica media queries para ajustar estilos en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
  }
}
.recipe-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.image-container {
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.image-container img {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}
.image-container:hover {
  height: 300px; /* Altura expandida */
}
.image-container:hover img {
  transform: translateY(-100%);
}

body {
  background-color: #aadd9a;
  font-family: "Borel", cursive;
  color: rgb(205, 255, 205);
  box-sizing: border-box;
}
body header h1 {
  color: rgb(3, 39, 2);
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
}
body section {
  color: rgb(3, 39, 2);
}
body section.article {
  color: #caf0ba;
}
body section.miestilo {
  background-color: rgb(53, 136, 64);
}
@media (max-width: 480px) {
  body section.miestilo {
    background-color: rgb(205, 255, 205);
  }
}
body section article {
  background-color: #caf0ba;
  width: auto;
  height: auto;
}
body section article p {
  line-height: 4;
}
body p.indent {
  text-indent: 70px;
}
body p {
  color: rgb(0, 0, 0);
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 100;
}
body p strong {
  color: rgb(2, 15, 7);
}
body h2 {
  color: rgb(3, 39, 2);
  font-family: "Borel", cursive;
  font-weight: 400;
}
body select {
  color: #8eca7c;
  font-family: "monaco,georgia";
  font-style: normal;
}
body div {
  color: #68c578;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

span {
  color: rgb(3, 39, 2);
}

.container {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.container-items .item {
  background-color: #366b3a;
  max-width: 200px;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.container-items .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.container-items .item .img-item {
  max-width: 100%;
}

.container-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.container-items .item .button-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: #70b878;
  color: beige;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #366b3a;
}

.container-items .item .name-item {
  display: block;
  text-align: center;
  font-weight: 22px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: end;
  background-color: rgb(111, 129, 115);
}

.footercontacto {
  margin-top: 30%;
}

.logofacebook {
  width: 60px;
  padding: 5%;
}

.logowhatsapp {
  width: 60px;
  padding: 7%;
}

.logoinstagram {
  width: 60px;
  padding: 7%;
}

.video-container {
  position: center;
  max-width: 1700px; /* Establece el ancho máximo deseado */
  width: 1200%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.video-container video {
  width: 100%;
  height: auto; /* Permite que la altura se ajuste automáticamente según la proporción */
}

/*# sourceMappingURL=style.css.map */
