@charset "UTF-8";
/* Estilos para dispositivos pequeños (por ejemplo, teléfonos) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@media (max-width: 470px) {
  .miestilo {
    background-color: rgb(205, 255, 205); /* Asegúrate de definir $lightest-green */
  }
  body {
    background-color: lightblue; /* Agregamos un fondo de cuerpo para dispositivos pequeños */
  }
}
/* Estilos para tabletas y pantallas de computadoras portátiles */
@media (min-width: 471px) and (max-width: 1024px) {
  .element {
    width: 100%; /* Ancho completo para elementos en tamaños intermedios */
    background-color: rgb(180, 255, 146);
  }
}
/* Estilos para pantallas más grandes, como computadoras de escritorio */
@media (min-width: 1025px) {
  body {
    background-color: #dcffd0;
  }
  /* Estilos para columnas en pantallas grandes */
  [class*=col-] {
    width: auto; /* Restauramos el ancho automático para columnas en pantallas grandes */
    justify-content: flex-start; /* Ajustamos la alineación horizontal */
  }
}
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 470px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 471px) and (max-width: 1024px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1025px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}

.image-slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.image-slider .slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  overflow: hidden;
}
.image-slider .slide img {
  width: 33%;
  height: auto;
}

.navbar {
  background-color: #a2ff9f;
  font-family: "Aboreto";
}
.navbar .navbar-nav .nav-link {
  color: #000000;
}
.navbar .navbar-nav .nav-link.active {
  color: #070202;
}

.expanded-content {
  display: none;
  padding: 20px;
  background-color: #f0f0f0;
}

.expanded-content {
  display: none; /* Oculta el contenido expandido por defecto */
}

.expanded {
  display: block; /* Muestra el contenido cuando la clase 'expanded' está presente */
}

body {
  background-color: #aadd9a;
  font-family: "Borel", cursive;
  color: rgb(205, 255, 205);
  box-sizing: border-box;
}
body header h1 {
  color: rgb(3, 39, 2);
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
}
body section {
  color: rgb(3, 39, 2);
}
body section.article {
  color: #caf0ba;
}
body section.miestilo {
  background-color: rgb(53, 136, 64);
}
@media (max-width: 480px) {
  body section.miestilo {
    background-color: rgb(205, 255, 205);
  }
}
body section article {
  background-color: rgb(53, 136, 64);
  width: auto;
  height: auto;
}
body section article p {
  line-height: 4;
}
body p.indent {
  text-indent: 70px;
}
body p {
  color: rgb(0, 0, 0);
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 100;
}
body p strong {
  color: rgb(2, 15, 7);
}
body h2 {
  color: rgb(3, 39, 2);
  font-family: "Borel", cursive;
  font-weight: 400;
}
body select {
  color: #8eca7c;
  font-family: "monaco,georgia";
  font-style: normal;
}
body div {
  color: #96b99c;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

span {
  color: rgb(3, 39, 2);
}

.container {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.container-items .item {
  background-color: #366b3a;
  max-width: 200px;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.container-items .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.container-items .item .img-item {
  max-width: 100%;
}

.container-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.container-items .item .button-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: #70b878;
  color: beige;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #366b3a;
}

.container-items .item .name-item {
  display: block;
  text-align: center;
  font-weight: 22px;
}

/*# sourceMappingURL=style.css.map */
