
$main-green: rgb(96, 182, 108);
$dark-green: rgb(3, 39, 2);
$article-green: #caf0ba;
$black: rgb(0, 0, 0);
$dark-green-2: rgb(2, 15, 7);
$light-green: #8eca7c;
$light-green-border: #83ff6b;
$lighter-green: rgb(53, 136, 64);
$lightest-green: rgb(205, 255, 205);
$light-blue: lightblue;
$main-green-2: #366b3a;
$navbar-color: #71c56e;
$navbar-color: #a2ff9f;
