
$main-green:  #a27ad6;
$dark-green: rgb(184, 127, 216); //cambia color del div contenedor donde estan expuesto los productos 
$article-green: #caf0ba; //
$black: rgb(0, 0, 0);
$dark-green-2: rgb(2, 15, 7);
$light-green: #8eca7c; //cambiar verde claro
$light-green-border: #83ff6b; //borde del button
$lighter-green: rgb(137, 76, 207);
$lightest-green: rgb(205, 255, 205);
$light-blue: rgb(113, 56, 179);
$main-green-2: #431c70;
$navbar-color: #7a1aa0; //color navbar
$navbar-color: #6e068d; //color navbar
$box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
$border-radius: 8px;

