
$main-green: rgb(96, 182, 108); //cambio el color principal //body color
$dark-green: rgb(3, 39, 2); //cambio el verde oscuro 
$article-green: #caf0ba; //
$black: rgb(0, 0, 0);
$dark-green-2: rgb(2, 15, 7);
$light-green: #8eca7c; //cambiar verde claro
$light-green-border: #83ff6b; //borde del button
$lighter-green: rgb(53, 136, 64);
$lightest-green: rgb(205, 255, 205);
$light-blue: lightblue;
$main-green-2: #366b3a;
$navbar-color: #71c56e; //color navbar
$navbar-color: #a2ff9f; //color navbar
$box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
$border-radius: 8px;