.responsive-image {
    display: flex;
    max-width: 100%; //  la imagen no sea más ancha que su contenedor
    height: 100%; // la altura se ajusta proporcionalmente a la anchura
  
    //  media queries para ajustar el tamaño de la imagen en diferentes dispositivos
    @media (max-width: 470px) {
      max-width: 100%;
      height: auto;
    }
  
    @media (min-width: 471px) and (max-width: 1024px) {
      max-width: 100%;
      height: auto;
    }
  
    @media (min-width: 1025px) {
      max-width: 100%;
      height: auto;
    }
  }
  

  .image-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    .slide {
      flex: 0 0 100%;
      scroll-snap-align: start;
      overflow: hidden;
      
      img {
        width: 33%;
        height: auto;
      }
    }
  }
 
  /* Estilos base para la imagen */
.img-responsive {
  max-width: 100%;
  height: auto;
}

/* Media query para dispositivos pequeños (por ejemplo, smartphones) */
@media (max-width: 768px) {
  .img-responsive {
    /* Ajusta el tamaño de la imagen para dispositivos pequeños */
    max-width: 100%;
    height: auto;
  }
}

/* Media query para dispositivos medianos (por ejemplo, tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  .img-responsive {
    /* Ajusta el tamaño de la imagen para dispositivos medianos */
    max-width: 100%;
    height: auto;
  }
}

/* Media query para dispositivos grandes (por ejemplo, pantallas de escritorio) */
@media (min-width: 993px) {
  .img-responsive {
    /* Ajusta el tamaño de la imagen para dispositivos grandes */
    max-width: 100%;
    height: auto;
  }
}

//// imagen banner
.banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Estilo para hacer que la imagen sea responsive */
.responsive-image {
  width: 100%;
  height: auto;
}