/* phone */
@media (max-width: 470px) {
  .miestilo {
    background-color: $lightest-green;
  }
  body {
    background-color: rgb(178, 255, 185); /* Agregamos un fondo de cuerpo para dispositivos pequeños */
  }
}

/* Estilos para tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .element {
      width: 100%; 
      background-color: rgb(180, 255, 146);
  }
}

/*  pantallas más grandes */
@media (min-width: 1025px) {
  body {
      background-color: #dcffd0;
  }
  /* Estilos para columnas en pantallas grandes */
  [class*="col-"] {
      width: auto;
      justify-content: flex-start;
  }

  
}

