$gallery-gap: 10px;

// Estilos globales
body {
  margin: 0;
  padding: 0;
}

// Estilos de la galería
//
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; // Puedes usar la variable que definiste ($gallery-gap) aquí si lo deseas
  
    img {
      width: 200px; // Tamaño de las imágenes (ajústalo según tus necesidades)
      height: 150px;
      object-fit: cover; // Para asegurarte de que las imágenes mantengan su relación de aspecto
    }
  }
  