
@import 'colores';
@import 'media-queries';
@import 'bucles';
@import 'images';
@import 'nav';
@import 'fuentes';
@import 'tipografia';


// Estilos generales del body
body {
  background-color: #aadd9a;
 
    font-family: 'Borel', cursive;

  /// fondo pag 
  color: $lightest-green;
  box-sizing: border-box;

  // Estilos del header
  header {
    h1 {
      color: $dark-green;
      font-family: 'Aboreto';
      font-style: normal;
      font-weight: 400;
    }
  }

  // Estilos de las secciones
  section {
    color: $dark-green;

    &.article {
      color: $article-green;
    }

    &.miestilo {
      background-color: $lighter-green;

      @media (max-width: 480px) {
        background-color: $lightest-green;
      }
    }

    article {
      background-color: $article-green;
      width: auto;
      height: auto;

      p {
        line-height: 4;
      }
    }
  }

  // Estilos de párrafos con indentación
  p.indent {
    text-indent: 70px;
  }

  p {
    color: $black;
    font-family: 'Advent Pro';
    font-style: italic;
    font-weight: 100;

    strong {
      color: $dark-green-2;
    }
  }

  // Estilos de encabezados h2
  h2 {
    color: $dark-green;
    font-family: 'Borel', cursive;
    
    font-weight: 400;
  }



  // Estilos de selectores
  select {
    color: $light-green;
    font-family: 'monaco,georgia';
    font-style: normal;
  }

  // Estilos generales de divs
  div {
    color: #68c578;
  }
}
 



body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

span {
  color: $dark-green;
}

.container {
 
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.container-items .item {
  background-color: $main-green-2;
  max-width: 200px;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}


.container-items .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.container-items .item .img-item {
  max-width: 100%;
}

.container-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.container-items .item .button-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: #70b878;
  color: beige;
  padding: 5px 15px;
  border-radius: 5px;
  background-color:$main-green-2 ;
}

.container-items .item .name-item {
  display: block;
  text-align: center;
  font-weight: 22px;
}



footer{
  display: flex;
  justify-content: center;
  align-items: center;

  position:   end;
  background-color: rgb(111, 129, 115);
}

////footer
/// 

.footercontacto{
margin-top: 30%;
}

.logofacebook{
width: 60px;
padding: 5%;

}

.logowhatsapp{
width: 60px;
padding: 7%;
}

.logoinstagram{
width: 60px;
padding: 7%;
}



////video
/// 
.video-container {
  position: center;
  max-width: 1700px; /* Establece el ancho máximo deseado */
  width: 1200%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.video-container video {
  width: 100%;
  height: auto; /* Permite que la altura se ajuste automáticamente según la proporción */
}


///// carrrusel imagenes ///
$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           10px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             55%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .3s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

.carousel-item img {
  max-width: auto; // Asegura que la imagen no exceda el tamaño del contenedor
  height: auto;    // Mantiene la proporción de aspecto original
}

// Reducir el tamaño de los íconos de control
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 2rem 2rem; // Ajusta el tamaño de los íconos a 2rem x 2rem
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 auto; /* Tamaño automático */
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Aplica media queries para ajustar estilos en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
  }
}




