
$main-green: rgb(96, 182, 108);
$dark-green: rgb(3, 39, 2);
$article-green: #caf0ba;
$black: rgb(0, 0, 0);
$dark-green-2: rgb(2, 15, 7);
$light-green: #8eca7c;
$light-green-border: #83ff6b;
$lighter-green: rgb(53, 136, 64);
$lightest-green: rgb(205, 255, 205);
$light-blue: lightblue;
$main-green-2: #366b3a;
$navbar-color: #71c56e;


$navbar-color: #a2ff9f;
$navbar-font: "Arial, sans-serif"; // Change the font here

.navbar {
  background-color: $navbar-color;
  font-family: $navbar-font; 

  .navbar-nav .nav-link {
    color: #000000;

    &.active {
      color: #070202;
    }
  }
}

body {
  background-color: $main-green;
  font-family: "Circular", Arial, sans-serif;
  color: rgb(156, 252, 119);
  box-sizing: border-box;


  header {
    h1 {
      color: $dark-green;
      font-family: 'Aboreto';
      font-style: normal;
      font-weight: 400;
    }
  }

  
  section {
    color: $dark-green;

    &.article {
      color: $article-green;
    }

    &.miestilo {
      background-color: $lighter-green;

      @media (max-width: 480px) {
        background-color: $lightest-green;
      }
    }

    article {
      background-color: $lighter-green;
      width: auto;
      height: auto;

      p {
        line-height: 4;
      }
    }
  }


  p.indent {
    text-indent: 70px;
  }

  p {
    color: $black;
    font-family: 'Advent Pro';
    font-style: italic;
    font-weight: 100;

    strong {
      color: $dark-green-2;
    }
  }

 
  h2 {
    color: $dark-green;

    & {
      font-family: 'Aboreto';
      font-style: normal;
      font-weight: 400;
    }
  }


  button {
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: $light-green;
    border-color: $light-green-border;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
  }

  
  select {
    color: $light-green;
    font-family: 'monaco,georgia';
    font-style: normal;
  }


  div {
    color: #042008;
  }
}


@media (max-width: 480px) {
  .miestilo {
    background-color: $lightest-green;
  }
}


@media screen and (min-width: 768px) {
  body {
    background-color: #dcffd0;
  }
}


@media (max-width: 800px) {
  .element {
    width: 100%;
    background-color: rgb(180, 255, 146);
  }
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}


@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage($i / 12);
  }
}


@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
    justify-content: center;
  }
}


img {
  max-width: 100%;
  filter: brightness(100%);
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}