
@import 'colores';
@import 'media-queries';
@import 'bucles';
@import 'images';
@import 'nav';
@import 'fuentes';
@import 'tipografia';
@import 'carousel';

// Estilos generales del body
body {
  background-color: #15021d;
 
    font-family:  'Press Start 2P', cursive;

  /// fondo pag 
  color: $lightest-green;
  box-sizing: border-box;

  // Estilos del header
  header {
    h1 {
      color: $main-green ;
      font-family: 'Press Start 2P', cursive;
      font-style: normal;
      font-weight: 400;
    }
  }
 

  h1 {

    font-family: 'Press Start 2P', cursive ;
    .section-title h1 {
     display: block;
    text-align: center; /* Centra el texto horizontalmente */
   
    }

  }



  // Estilos de las secciones
  section {
    color: $dark-green;

    &.article {
      color: $article-green;
    }

    &.miestilo {
      background-color: $lighter-green;

      @media (max-width: 480px) {
        background-color: $lightest-green;
      }
    }

    article {
      background-color: $article-green;
      width: auto;
      height: auto;

      p {
        line-height: 4;
      }
    }
  }

  // Estilos de párrafos con indentación
  p.indent {
    text-indent: 70px;
  }

  p {
    color: $black;
    font-family: 'Advent Pro';
    font-style: italic;
    font-weight: 100;

    strong {
      color: $dark-green-2;
    }
  }

  // Estilos de encabezados h2
  h2 {
    color: $dark-green;
    font-family: 'Borel', cursive;
    
    font-weight: 400;
  }



  // Estilos de selectores
  select {
    color: $light-green;
    font-family: 'monaco,georgia';
    font-style: normal;
  }

  // Estilos generales de divs
  div {
    color: #df73d9;
  }
}
 



body {
  font-family: 'Poppins', sans-serif;
}

h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

span {
  color: $dark-green;
}

.container {
 
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.container-items .item {
  background-color: $main-green-2;
  max-width: 200px;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}


.container-items .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.container-items .item .img-item {
  max-width: 100%;
}

.container-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.container-items .item .button-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: #4b197a;
  color: $main-green;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #794ba5;
}

.container-items .item .name-item {
  display: block;
  text-align: center;
  font-weight: 22px;
}



footer{
  display: flex;
  justify-content: center;
  align-items: center;

  position:   end;
  background-color: rgb(111, 129, 115);
}

////footer
/// 

.footercontacto{
margin-top: 30%;
}

.logofacebook{
width: 60px;
padding: 5%;

}

.logowhatsapp{
width: 60px;
padding: 7%;
}

.logoinstagram{
width: 60px;
padding: 7%;
}



